<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>1076501631903-ov5gpfnfl7qi2qqs3vd4lfi4qmnebsi1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1076501631903-ov5gpfnfl7qi2qqs3vd4lfi4qmnebsi1</string>
	<key>API_KEY</key>
	<string>AIzaSyATIEj7Uuv-MpgnKgSyzfd-urD-H0XqboE</string>
	<key>GCM_SENDER_ID</key>
	<string>1076501631903</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.setmysails.flashChat</string>
	<key>PROJECT_ID</key>
	<string>flashchat-f5ed5</string>
	<key>STORAGE_BUCKET</key>
	<string>flashchat-f5ed5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1076501631903:ios:aa9a3cb280c1de4c</string>
	<key>DATABASE_URL</key>
	<string>https://flashchat-f5ed5.firebaseio.com</string>
</dict>
</plist>